<header class="grid">
        <div class="row">
            <div class="col-3 col-md-6">
                <div class="brand">
                    <a href="index.html" class="logo">
                        <picture>
                            <source srcset="imgs/logo_portafolio.png" media="(min-width: 1024px)">
                            <source srcset="imgs/logo_portafolio.png" media="(min-width: 720px)">
                            <img src="imgs/logo_portafolio.png" alt="logo de portafolio">
                        </picture>
                        <h1>Jimena Castro Portafolio</h1>
                    </a>
                </div>
            </div>
            <div class="col-3 col-md-6">
                <button class="menu-toggle" aria-label="Abrir menu">&#9776;</button>
                <nav>
                    <ul class="nav-links">
                        <li><a href="#inicio">Inicio</a></li>
                        <li><a href="#sobre-mi">Sobre mi</a></li>
                        <li><a href="#proyectos">Proyectos</a></li>
                        <li><a href="#contacto">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>